.selected {
  background-color: var(--selected-bg);
  color: var(--selected-text);
}

.form {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3000;
  display: flex;
  flex-direction: column;
  font-size: var(--form-font-size);
}

.textarea {
  resize: none;
  width: 100%;
  height: 60%;
  border: none;
  outline: none;
  background-color: var(--textarea-bg);
  color: var(--textarea-text);
}

.submit,
.reset {
  width: 100%;
  height: 20%;
  border: none;
}

.submit {
  background-color: var(--submit-bg);
  color: var(--submit-text);
}

.submit:hover {
  background-color: var(--submit-bg-hover);
}

.reset {
  background-color: var(--reset-bg);
  color: var(--reset-text);
}

.reset:hover {
  background-color: var(--reset-bg-hover);
}
