.caption {
  padding: 1rem;
  border: 1px solid var(--border-color);
  border-bottom: none;
  background-color: var(--caption-bg);
  font-size: var(--caption-font-size);
  color: var(--caption-text);
}
